*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}.btn{
  float: right;
  margin-top: -25px;
  margin-right: 20px;
}
.nav{
  width: 50%;
  margin-left: 340px;
  margin-top: -35px;
}.img{
  margin-left: 25px;
}.nav ul{
  justify-content: space-evenly;
  display: flex
}.nav li{
  list-style: none;
}.nav li a{
  text-decoration: none;
  color: black;
}
.parent{
  box-sizing: border-box;
}.nav ul li a:hover{
  color: skyblue;
}